# Dependencias
node_modules/

# Variables de entorno
.env

# Configuración del editor
.vscode/

# Archivos de servicio o claves privadas
*.json

# Logs y archivos temporales
*.log
*.tmp

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpeta de build (si algún día agregás React, Vite, etc.)
dist/
build/
