# Dependencias
node_modules/

# Variables de entorno
.env

# Configuración del editor
.vscode/

# Archivos de servicio o claves privadas
*.json
# Excepcion: los JSON de configuracion del frontend si se versionan
!frontend/**/*.json

# Logs y archivos temporales
*.log
*.tmp

